<VirtualHost *:{{wp_apache_listen_port}}>
	ServerName {{wp_apache_hostname}}
	ServerAlias {{wp_apache_alias}}

	DocumentRoot "{{wp_install_dir}}"

	<Directory "{{wp_install_dir}}">
		Options FollowSymLinks
		AllowOverride none
		{% if apache_vhosts_version == "2.2" %}
		Order allow,deny
		allow from all
		{% else %}
		Require all granted
		{% endif %}
		RewriteEngine On
		RewriteBase /
		RewriteRule ^index\.php$ - [L]
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteRule . /index.php [L]
	</Directory>

	ErrorLog logs/{{wp_apache_hostname}}-error.log
	LogLevel warn
	CustomLog logs/{{wp_apache_hostname}}-access.log combined

</VirtualHost>
